Repository RazorSiM/vue-dapp-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: yarn eslint --fix {staged_files}

stylelint:
  run: yarn stylelint --fix {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

gitignore update - package.json update - readme update
  .gitignore
  README.md
  package.json
  src/types/chain/Erc20.d.ts
  src/types/chain/commons.ts
  src/types/chain/factories/Erc20__factory.ts
  src/types/chain/index.ts
Due: eslint, prettier

Update README.md
  README.md
Due: none

update some namings and packages - setup typescript version for vscode editor
  .gitignore
  .vscode/settings.json
  package.json
  src/env.d.ts
  src/services/contracts/erc20.ts
  src/services/contracts/index.ts
Due: eslint, prettier

updated to support typescript 4.4
  src/services/contracts/erc20.ts
  src/services/contracts/index.ts
  src/services/wallets/index.ts
  src/services/wallets/metamask.ts
  src/stores/wallet.ts
Due: eslint, prettier

bump up packages
  package.json
Due: prettier

ref sugar need a variable, not a constant
  src/App.vue
Due: eslint, stylelint, prettier

update deps
  package.json
Due: prettier

metamask wallet handler
  src/components/blocks/Header.vue
  src/components/globals/MetamaskConnect.vue
  src/main.ts
  src/router/index.ts
  src/routes/index.ts
  src/services/wallets/metamask.ts
  src/stores/wallet.ts
Due: eslint, stylelint, prettier

retrieve chain id and example in the account page
  src/services/wallets/metamask.ts
  src/stores/wallet.ts
  src/views/Account.vue
Due: eslint, stylelint, prettier

filled the home page with a brief explanation
  src/views/Home.vue
Due: eslint, stylelint, prettier

bump packages
  package.json
Due: prettier

update ref config
  src/env.d.ts
  vite.config.ts
Due: eslint, prettier

estimate gas for an erc20 transaction
  src/services/contracts/erc20.ts
  src/views/Account.vue
Due: eslint, stylelint, prettier

add loockup name to the connect button
  src/components/globals/MetamaskConnect.vue
Due: eslint, stylelint, prettier

improved env d.ts
  src/env.d.ts
  src/vite-env.d.ts
Due: eslint, prettier

updated pinia to the latest rc
  package.json
Due: prettier

updated refSugar settings
  vite.config.ts
Due: eslint, prettier

update autoimports and new vite settings
  auto-imports.d.ts
  package.json
  src/App.vue
  src/components/blocks/Header.vue
  src/components/globals/DarkToggle.vue
  src/components/globals/MetamaskConnect.vue
  src/layouts/Base.vue
  src/main.ts
  src/routes/index.ts
  src/services/contracts/erc20.ts
  src/services/contracts/index.ts
  src/stores/wallet.ts
  src/views/Account.vue
  tsconfig.json
  vite.config.ts
Due: eslint, stylelint, prettier

autoimport to gitignore
  .gitignore
Due: none

env outside repo
  .env
  .env.example
  .gitignore
Due: none

We have bracket colorizer by default on vscode now
  .vscode/extensions.json
Due: prettier

updated tsconfig
  tsconfig.json
Due: prettier

vite settings for autoimports and type definition
  auto-imports.d.ts
  components.d.ts
  package.json
  src/env.d.ts
  vite.config.ts
Due: eslint, prettier

more examples and updates
  components.d.ts
  src/components/cards/SampleWalletData.vue
  src/composables/useEthereum.ts
  src/layouts/Base.vue
  src/services/contracts/erc20.ts
  src/services/contracts/index.ts
  src/views/Home.vue
Due: eslint, stylelint, prettier

updated prettierignore
  .prettierignore
  components.d.ts
Due: eslint, prettier

bump vueuse
  package.json
Due: prettier

updated prettierignore
  .prettierignore
Due: none

update home description
  src/views/Home.vue
Due: eslint, stylelint, prettier

bump packages
  auto-imports.d.ts
  components.d.ts
  package.json
Due: eslint, prettier

rollback vue-tsc
  package.json
Due: prettier

chores
  src/components/cards/SampleWalletData.vue
  src/composables/useEthereum.ts
Due: eslint, stylelint, prettier

word
  auto-imports.d.ts
  src/components/cards/SampleWalletData.vue
Due: eslint, stylelint, prettier

ENS Avatar support and various fixes
  components.d.ts
  package.json
  src/components/blocks/Header.vue
  src/components/cards/SampleWalletData.vue
  src/components/globals/Avatar.vue
  src/components/globals/DarkToggle.vue
  src/components/globals/MetamaskConnect.vue
  src/composables/useEnsAvatar.ts
  src/composables/useWalletInfo.ts
  src/helpers/ensAvatar.ts
  src/services/contracts/index.ts
  src/stores/wallet.ts
  src/views/Account.vue
Due: eslint, stylelint, prettier

postinstall updated
  package.json
Due: prettier

clean windi config
  windi.config.ts
Due: eslint, prettier

account change and network change event listeners
  src/App.vue
Due: eslint, stylelint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  stylelint: any of: *.{vue,css}
  prettier: any of: *.{js,ts,vue,css,json,yml}
