Repository RazorSiM/vue-dapp-starter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,vue}"
      run: yarn eslint --fix {staged_files}
    stylelint:
      glob: "*.{vue,css}"
      run: yarn stylelint --fix {staged_files}
    prettier:
      glob: "*.{js,ts,vue,css,json,yml}"
      run: yarn prettier --write {staged_files}

added a getter for the resolver
  src/services/contracts/index.ts
Due: eslint, prettier

chores; typings; updated readme
  README.md
  auto-imports.d.ts
  lefthook.yml
  src/components/cards/SampleWalletData.vue
  src/composables/useWalletInfo.ts
  src/helpers/ensAvatar.ts
Due: eslint, stylelint, prettier

better provider handling and transfer eth example
  .env.example
  auto-imports.d.ts
  components.d.ts
  src/components/blocks/Header.vue
  src/components/cards/SampleWalletData.vue
  src/components/globals/CardContainer.vue
  src/components/globals/DarkToggle.vue
  src/components/globals/InputField.vue
  src/components/globals/MetamaskConnect.vue
  src/env.d.ts
  src/helpers/ensAvatar.ts
  src/layouts/BaseLayout.vue
  src/layouts/EmptyLayout.vue
  src/main.ts
  src/routes/index.ts
  src/services/contracts/erc20.ts
  src/services/contracts/index.ts
  src/stores/wallet.ts
  src/views/AboutView.vue
  src/views/Account.vue
  src/views/AccountView.vue
  src/views/HomeView.vue
Due: eslint, stylelint, prettier

Adds grapqhl codegen to simplify the development with graphql endpoints
  .env.example
  .gitignore
  README.md
  codegen.yml
  package.json
  src/main.ts
Due: eslint, prettier

chores
  .env.example
  auto-imports.d.ts
  components.d.ts
  package.json
  src/env.d.ts
  vite.config.ts
Due: eslint, prettier

Update README.md
  README.md
Due: none

WIP Multiwallet Support - Added Frame and generic Injected
  auto-imports.d.ts
  components.d.ts
  package.json
  src/components/blocks/Header.vue
  src/components/cards/SampleWalletData.vue
  src/components/globals/DarkToggle.vue
  src/components/globals/InputNumber.vue
  src/components/globals/InputText.vue
  src/components/globals/wallet/WalletConnectButton.vue
  src/components/globals/wallet/WalletDisconnectButton.vue
  src/components/globals/wallet/WalletModal.vue
  src/components/globals/wallet/WalletProviderButton.vue
  src/layouts/BaseLayout.vue
  src/routes/index.ts
  src/services/contracts/index.ts
  src/services/wallets/frame.ts
  src/services/wallets/index.ts
  src/services/wallets/injected.ts
  src/services/wallets/metamask.ts
  src/stores/global.ts
  src/stores/wallet.ts
  src/views/AccountView.vue
Due: eslint, stylelint, prettier

logging and linting
  src/App.vue
  src/services/contracts/index.ts
  src/services/wallets/index.ts
  src/services/wallets/metamask.ts
  src/stores/wallet.ts
Due: eslint, stylelint, prettier

improved config
  tsconfig.json
  vite.config.ts
Due: eslint, prettier

fix ens composable
  src/components.d.ts
  src/components/globals/wallet/WalletConnectButton.vue
  src/composables/useEnsAvatar.ts
  src/helpers/ensAvatar.ts
  src/services/contracts/index.ts
  src/stores/wallet.ts
Due: eslint, stylelint, prettier

initial walletconnect rework
  package.json
  src/components.d.ts
  src/components/globals/Avatar.vue
  src/components/globals/MetamaskConnect.vue
  src/components/globals/wallet/WalletModal.vue
  src/services/contracts/erc20.ts
  src/services/wallets/index.ts
  src/services/wallets/walletConnect.ts
  src/stores/wallet.ts
  vite.config.ts
Due: eslint, stylelint, prettier

fix
  src/views/AccountView.vue
Due: eslint, stylelint, prettier

Fix walletconnect build
  vite.config.ts
Due: eslint, prettier

Use walletconnect 1.7.1
  package.json
  vite.config.ts
Due: eslint, prettier

Fix typescript errors + optimize bundling
  src/components.d.ts
  src/services/contracts/erc20.ts
  src/services/wallets/index.ts
  src/services/wallets/walletConnect.ts
  src/views/AccountView.vue
Due: eslint, stylelint, prettier

Improve bundling
  package.json
  vite.config.ts
Due: eslint, prettier

add type
  vite.config.ts
Due: eslint, prettier

Remove manualChunks
  vite.config.ts
Due: eslint, prettier

impruved multi wallet connection
  .env.example
  src/components/globals/wallet/WalletModal.vue
  src/components/globals/wallet/WalletProviderButton.vue
  src/layouts/BaseLayout.vue
  src/services/contracts/index.ts
  src/services/wallets/index.ts
  src/services/wallets/walletConnect.ts
  src/stores/wallet.ts
  src/views/AccountView.vue
Due: eslint, stylelint, prettier

fix
  src/services/contracts/index.ts
  src/services/wallets/index.ts
  src/stores/wallet.ts
Due: eslint, prettier

reverted event management
  src/services/wallets/walletConnect.ts
  src/stores/wallet.ts
Due: eslint, prettier

bettter wallet management
  .github/dependabot.yml
  src/App.vue
  src/composables/useWalletEvents.ts
  src/services/contracts/index.ts
  src/services/wallets/index.ts
  src/services/wallets/injected.ts
  src/services/wallets/metamask.ts
  src/services/wallets/walletConnect.ts
Due: eslint, stylelint, prettier

linter
  src/services/contracts/index.ts
Due: eslint, prettier

Update dependabot.yml
  .github/dependabot.yml
Due: prettier

Delete dependabot.yml
  .github/dependabot.yml
Due: prettier
